<div class="container">
  <div class="row">
    <div class="col-xs-6 flag">
      <img class="img-flag" *ngIf="cflag" [src]="country.flag" alt="{{country.name}} flag">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      Name:
    </div>
    <div class="col-xs-6">
      {{cname}}
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6">Code:</div>
    <div class="col-xs-6">{{ccode}}</div>
  </div>
  <div class="row">
    <div class="col-xs-6 ">Curriencies:</div>
    <div class="col-xs-6">{{ccurrency}}</div>
  </div>
  <div class="row">
    <div class="col-xs-6">Area:</div>
    <div class="col-xs-6">{{carea}}</div>

  </div>
  <div class="row">
    <div class="col-xs-6">Latitude and Longitude:</div>
    <div class="col-xs-6">{{cltld}}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <a class='btn btn-primary text-white back' (click)='onBack()'>
            <span class="carousel-control-prev-icon"></span> Back to home 
        </a> 
    </div> 
  </div> 
</div>

<ng-template #error404Name>
  <div class="modal-header modal-header-customize">
    <button type="button" class="close pull-right close-bigsize" aria-label="Close" (click)="modalRef.hide()"
      [disabled]="submitted">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-body-large-text">
    <br>
    <div>
      Please enter valid country name
      <br>
    </div>
  </div>
</ng-template>
<ng-template #error404Code>
  <div class="modal-header modal-header-customize">
    <button type="button" class="close pull-right close-bigsize" aria-label="Close" (click)="modalRef.hide()"
      [disabled]="submitted">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-body-large-text">
    <br>
    <div>
      Please enter valid country code
      <br>
    </div>
  </div>
</ng-template>