/* You can add global styles to this file, and also import other style files */
@import '../src/assets/bootstrap.min.css';
.displayblock{
    display:block!important;
}
.displaynone{
    display:none!important;
}
.img-flag{
    margin:0 auto;
    width: 200px;
}