<div class="filter-wrapper">
  <form [formGroup]="searchForm" class="keyword-wrapper"  action="">
  <input type="search" class="form-control" formControlName="search" id="keyword" placeholder="Search country or code">
  <ul class="filter-select" [ngClass]="searchStyle">
    <label>Search Suggestion</label>
    <li *ngFor="let name of countryName" class="filter-selected-list">
      <a [routerLink]="['/country-detail',name]"><span class="tags">{{name}}</span></a>
    </li>
  </ul>
  <!-- <input type="submit" value="search">fill(name) -->
  </form>
  <div class="col-xs-12">
    Search History
    <div *ngFor="let search_country of searchHistory">
      {{search_country}}
    </div>
  </div>
</div>
